<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.annyw.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.annyw.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryUserByPage</servlet-name>
        <servlet-class>com.annyw.servlet.QueryUserByPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryUserByPage</servlet-name>
        <url-pattern>/QueryUserByPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.annyw.servlet.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.annyw.servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>com.annyw.servlet.EditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>

</web-app>

