<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<properties>
		<property name="filename">/app/activelog/log/activelog.log</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		
		<RollingFile name="File" fileName="${filename}" filePattern="$${date:yyyy-MM}/activelog-%d{yyyy-MM-dd}-%i.error.gz">
            <PatternLayout pattern="%d{HH:mm:ss} %5p [%F:%L] %c{8}.%M() - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="128MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
	</appenders>
	<!-- debug<info<warn<error 程序会打印高于或等于所设置级别的日志-->
	<loggers>
		<logger name="com.anthony" level="debug" additivity="false">
              <appender-ref ref="Console"/>
		</logger>
		<root level="debug">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>
