<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.annyw.dao.ClientDao">
    <insert id="addClient">
        insert into ${table_name} (email, username, salted_password, salt, privilege) values (#{pemail}, #{puname}, #{spassword},
                                                                                              #{salt}, #{privilege})
        ALTER TABLE ${table_name}  DROP id;
        ALTER TABLE ${table_name}  ADD id int NOT NULL FIRST;
        ALTER TABLE ${table_name}  MODIFY COLUMN id int NOT NULL AUTO_INCREMENT,ADD PRIMARY KEY(id);
    </insert>

    <select id="matchUsername" resultType="int">
        select count(*) from ${table_name} where username = '${puname}';
    </select>

    <select id="matchPassword" resultType="com.annyw.pojo.Client">
        select * from ${table_name} where username = '${puname}' and salted_password = '${pwd}';
    </select>

    <select id="getAllClients" resultType="com.annyw.pojo.Client" parameterType="String">
        select * from ${table_name}
    </select>

    <select id="getSalt" resultType="String">
        select salt from ${table_name} where username = '${puname}'
    </select>
</mapper>
